<div class="broccoli-module-px2style-image">
    <ul class="broccoli-module-px2style-image__resource-type">
        <li><label><input type="radio" name="{{mod.name | e}}-resourceType" value="" {{ data.resType=='' ? 'checked="checked"' : "" }} />{{ broccoli.lb.get('ui_label.upload_image') | e }}</label></li>
        <li><label><input type="radio" name="{{mod.name | e}}-resourceType" value="web" {{ data.resType=='web' ? 'checked="checked"' : "" }} />{{ broccoli.lb.get('ui_label.web_resource') | e }}</label></li>
        <li><label><input type="radio" name="{{mod.name | e}}-resourceType" value="none" {{ data.resType=='none' ? 'checked="checked"' : "" }} />{{ broccoli.lb.get('ui_label.none') | e }}</label></li>
    </ul>

    <div class="broccoli-module-px2style-image__ui-image-resource">
        <div class="broccoli-module-px2style-image__image-preview-area broccoli__user-selectable" tabindex="1">
            <img class="broccoli-module-px2style-image__image-preview" />
            <div class="broccoli-module-px2style-image__no-image-preview"></div>
        </div>
        <p>
            <label class="px2-btn">{{ broccoli.lb.get('ui_label.select_image_file') | e }}<input type="file" name="{{mod.name | e}}" webkitfile="webkitfile" style="display: none;" /></label>
            <button type="button" class="px2-btn broccoli-module-px2style-image__trg-get-image-from-url">{{ broccoli.lb.get('ui_label.get_from_url') | e }}</button>
            <button type="button" class="px2-btn broccoli-module-px2style-image__trg-save-file-as">{{ broccoli.lb.get('ui_label.save_file_as') | e }}</button>
        </p>
        <div class="broccoli-module-px2style-image__file-name-display">
            <span>{{ broccoli.lb.get('ui_label.output_filename') | e }}:</span>
            <input class="px2-input px2-input--block" type="text" name="{{mod.name | e}}-publicFilename" value="" placeholder="output file name" style="margin: 0 5px; display: inline-block; width: 210px; max-width: 70%;" />
            <span class="broccoli-module-px2style-image__ui-image-resource-display-extension"></span>
        </div>
    </div>

    <div class="broccoli-module-px2style-image__ui-web-resource">
        <p>{{ broccoli.lb.get('ui_message.in_this_mode_you_specify_the_image_resource_by_url') | e }}</p>
        <div>
            <span>URL: </span>
            <input class="px2-input px2-input--block" type="text" name="{{mod.name | e}}-webUrl" value="{{ (fncTypeOf(data.webUrl)==fncTypeOf('') ? data.webUrl : '') | e }}" placeholder="https://example.com/example.png" />
        </div>
    </div>

    <div class="broccoli-module-px2style-image__ui-no-image"></div>

    <input type="hidden" name="{{mod.name | e}}-resKey" value="{{ data.resKey | e }}" />
</div>
