<div>
	<ul class="broccoli-module-px2style-image-list__resource-type">
		<li><label><input type="radio" name="{{mod.name}}-resourceType" value="" {{ data.resType=='' ? 'checked="checked"' : "" }} />{{ broccoli.lb.get('ui_label.upload_image')}}</label></li>
		<li><label><input type="radio" name="{{mod.name}}-resourceType" value="web" {{ data.resType=='web' ? 'checked="checked"' : "" }} />{{ broccoli.lb.get('ui_label.web_resource') }}</label></li>
		<li><label><input type="radio" name="{{mod.name}}-resourceType" value="none" {{ data.resType=='none' ? 'checked="checked"' : "" }} />{{ broccoli.lb.get('ui_label.none') }}</label></li>
	</ul>

	<div class="broccoli-module-px2style-image-list__ui-image-resource">
		<div class="broccoli-module-px2style-image-list__image-preview-area broccoli__user-selectable" tabindex="1">
			<img class="broccoli-module-px2style-image-list__image-preview" />
			<div class="broccoli-module-px2style-image-list__no-image-preview">{{ res.ext }}</div>
		</div>
		<p>
			<label class="px2-btn">{{ broccoli.lb.get('ui_label.select_image_file') }}<input type="file" name="{{ mod.name }}" webkitfile="webkitfile" style="display: none;" /></label>
			<button type="button" class="px2-btn broccoli-module-px2style-image-list__trg-get-image-from-url">{{ broccoli.lb.get('ui_label.get_from_url') }}</button>
			<button type="button" class="px2-btn broccoli-module-px2style-image-list__trg-save-file-as">{{ broccoli.lb.get('ui_label.save_file_as') }}</button>
		</p>
		<div class="broccoli-module-px2style-image-list__file-name-display">
			<span>{{ broccoli.lb.get('ui_label.output_filename') }}:</span>
			<input class="px2-input px2-input--block" type="text" name="{{ mod.name }}-publicFilename" value="{{ (fncTypeOf(res.publicFilename)==fncTypeOf('string') ? res.publicFilename : '') }}" placeholder="output file name" style="margin: 0 5px; display: inline-block; width: 210px; max-width: 70%;" />
			<span class="broccoli-module-px2style-image-list__ui-image-resource-display-extension"></span>
		</div>
	</div>

	<div class="broccoli-module-px2style-image-list__ui-web-resource">
		<p>{{ broccoli.lb.get('ui_message.in_this_mode_you_specify_the_image_resource_by_url') }}</p>
		<div>
			<span>URL: </span>
			<input class="px2-input px2-input--block" type="text" name="{{mod.name}}-webUrl" value="{{ (fncTypeOf(data.webUrl)==fncTypeOf('string') ? data.webUrl : '') }}" placeholder="https://example.com/example.png" />
		</div>
	</div>

	<div class="broccoli-module-px2style-image-list__ui-no-image"></div>

	<input type="hidden" name="{{mod.name}}-resKey" value="{{ data.resKey }}" />

	<div class="px2-form-input-list">
		<ul class="px2-form-input-list__ul">
			<li class="px2-form-input-list__li" data-name="{{mod.name}}-href">
				<div class="px2-form-input-list__label"><label for="{{mod.name}}-href">URL</label></div>
				<div class="px2-form-input-list__input">
					<input type="text" id="{{mod.name}}-href" name="{{mod.name}}-href" value="{{ data.href }}" class="px2-input px2-input--block" />
				</div>
			</li>
			<li class="px2-form-input-list__li" data-name="{{mod.name}}-caption-title">
				<div class="px2-form-input-list__label"><label for="{{mod.name}}-caption-title">Caption Title</label></div>
				<div class="px2-form-input-list__input">
					<input type="text" id="{{mod.name}}-caption-title" name="{{mod.name}}-caption-title" value="{{ data.captionTitle }}" class="px2-input px2-input--block" />
				</div>
			</li>
			<li class="px2-form-input-list__li" data-name="{{mod.name}}-caption-body">
				<div class="px2-form-input-list__label"><label for="{{mod.name}}-caption-body">Caption Body</label></div>
				<div class="px2-form-input-list__input">
					<textarea type="text" id="{{mod.name}}-caption-body" name="{{mod.name}}-caption-body" class="px2-input px2-input--block">{{ data.captionBody }}</textarea>
				</div>
			</li>
		</ul>
	</div>

</div>
