<li class="broccoli-module-px2style-image-list__slider-slide" data-path="{{ item.path }}" data-res-key="{{ item.resKey }}" data-res-type="{{ item.resType }}" data-web-url="{{ item.webUrl }}" data-href="{{ item.href }}" data-caption-title="{{ item.captionTitle }}" data-caption-body="{{ item.captionBody }}">
	<button type="button" class="broccoli-module-px2style-image-list__slider-btn-edit-slide">
		<img
			src="{% if (resourceInfo.base64) %}data:{{ resourceInfo.type }};base64,{{ resourceInfo.base64 }}{% else %}{{ dummyImage }}{% endif %}"
			data-mime-type="{{ resourceInfo.type }}"
			data-size="{{ resourceInfo.size }}"
			data-extension="{{ resourceInfo.ext }}"
			data-base64="{{ resourceInfo.base64 }}"
			data-public-filename="{{ resourceInfo.publicFilename }}"
			data-is-updated="no"
			/>
		<div data-px2-image-list-rel="caption"></div>
	</button>
	<button type="button" class="px2-btn broccoli-module-px2style-image-list__slider-btn-move-slide-prev"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
		<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
	</svg></button>
	<button type="button" class="px2-btn broccoli-module-px2style-image-list__slider-btn-move-slide-next"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
		<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
	</svg></button>
	<button type="button" class="px2-btn px2-btn--danger broccoli-module-px2style-image-list__slider-btn-delete-slide">{{ lb.get('ui_label.delete') }}</button>
</li>
