<li class="broccoli-module-px2style-image-list__slider-slide" data-path="{{ item.path }}" data-res-key="{{ item.resKey }}" data-res-type="{{ item.resType }}" data-web-url="{{ item.webUrl }}">
	<button type="button" class="broccoli-module-px2style-image-list__slider-btn-edit-slide">
		<img
			src="{% if (resourceInfo.base64) %}data:{{ resourceInfo.type }};base64,{{ resourceInfo.base64 }}{% else %}{{ dummyImage }}{% endif %}"
			data-mime-type="{{ resourceInfo.type }}"
			data-size="{{ resourceInfo.size }}"
			data-extension="{{ resourceInfo.ext }}"
			data-base64="{{ resourceInfo.base64 }}"
			data-public-filename="{{ resourceInfo.publicFilename }}"
			data-is-updated="no"
			/>
	</button>
	<button type="button" class="broccoli-module-px2style-image-list__slider-btn-delete-slide">削除</button>
</li>
