<div class="broccoli-module-px2style-image">
    <ul class="broccoli-module-px2style-image__resource-type">
        <li><label><input type="radio" name="{{mod.name}}-resourceType" value="" {{ data.resType=='' ? 'checked="checked"' : "" }} />{{ broccoli.lb.get('ui_label.upload_image')}}</label></li>
        <li><label><input type="radio" name="{{mod.name}}-resourceType" value="web" {{ data.resType=='web' ? 'checked="checked"' : "" }} />{{ broccoli.lb.get('ui_label.web_resource') }}</label></li>
        <li><label><input type="radio" name="{{mod.name}}-resourceType" value="none" {{ data.resType=='none' ? 'checked="checked"' : "" }} />{{ broccoli.lb.get('ui_label.none') }}</label></li>
    </ul>
    <div class="broccoli-module-px2style-image__ui-image-resource">
        <div class="broccoli-module-px2style-image__image-preview-area broccoli__user-selectable" tabindex="1">
            <img class="broccoli-module-px2style-image__image-preview" />
            <div class="broccoli-module-px2style-image__no-image-preview">{{ res.ext }}</div>
        </div>
    </div>
    <div class="broccoli-module-px2style-image__ui-web-resource">
        <p>{{ broccoli.lb.get('ui_message.in_this_mode_you_specify_the_image_resource_by_url') }}</p>
        <div>
            <span>URL: </span>
            <input class="px2-input px2-input--block" type="text" name="{{mod.name}}-webUrl" value="{{ (fncTypeOf(data.webUrl)==fncTypeOf('') ? data.webUrl : '') }}" placeholder="https://example.com/example.png" />
        </div>
    </div>
    <div class="broccoli-module-px2style-image__ui-no-image">
    </div>
    <input type="hidden" name="{{mod.name}}-resKey" value="{{ data.resKey }}" />
</div>
